@import "../runo/legacy-styles.css";

.vif-main,
.ripla-main,
.vif-window {
    background-color:white;
}

.vif-head {
    background-color:#FF9417;
}

.vif-head-title {
    font:bold 22px arial, helvetica, sans-serif;
    color:white;
    background-color:inherit;
}

.ripla-login-form {
    margin-top:100px;
}
.ripla-login-form div.ripla-welcome {
    font-size:13pt;
    font-weight:bold;
    color:#FF9417;
    background-color:inherit;    
}

.vif-login-feedback {
    position:relative;
    left:220px;
    color:red;
    background-color:inherit;
}

.ripla-toolbar {
    padding-bottom:2px;
    background-color:#E5E5E5;
}

.ripla-toolbar .link .v-button-caption {
    text-decoration:none;
}

.vif-servicebar-label {
    text-align:right;
    margin-right:7px;
}

.ripla-select,
.vif-select,
.vif-input-config {
    margin-left: 6px;
}

.vif-language-select .vif-servicebar-label {
    padding-top:1px;
}

.ripla-menubar, .ripla-menubar .v-menubar {
    background: #E5E5E5 url(images/menubar.png) repeat-x bottom left;
}

.ripla-menu {
    height:auto;
    background-color:#E5E5E5;
}

.ripla-menu .v-menubar-menuitem {
    border-top:none;
    border-bottom:none;
    padding-top:7px;
    padding-bottom:7px;
}

.ripla-menu .v-menubar-menuitem-ripla-menu-active {    
    background-color:#FFFFFF;
}

.ripla-menu .v-menubar-menuitem-selected {
    background-color:#FF9417;
}

.v-menubar-submenu-ripla-menu .v-menubar-menuitem {
    line-height: 16px;
    padding: 1px 15px 1px 10px;
}
.v-menubar-submenu .v-menubar-menuitem {
    background-color:#E5E5E5;
}

.v-menubar-submenu .v-menubar-menuitem-selected {
    background-color:#FF9417;
}

.vif-table .v-table-cell-content {
    vertical-align: text-top;
}
.vif-table td .vif-cell {
    vertical-align: text-top;
    line-height: initial;	
}

.vif-view .v-label div.vif-description,
.vif-table .v-label div.vif-description {
    font-style:italic;
    margin-bottom:7px;
}

.ripla-lookup .vif-title, 
.vif-view .vif-pagetitle,
.vif-search .vif-pagetitle,
.vif-table .vif-pagetitle,
.vif-view .vif-title, 
.vif-search .vif-title, 
.vif-view .vif-subtitle,
.ripla-lookup .vif-title {
    font-weight:bold;
    color:#FF9417;
    background-color:inherit;    
}

.vif-view .v-label .vif-pagetitle,
.vif-search .v-label .vif-pagetitle,
.vif-table .v-label .vif-pagetitle {
    font-size:14pt;
    margin-bottom:10px;
}

.vif-view .vif-title-bar {
    margin-top:8px;
    margin-bottom:5px;
}

.vif-view .v-label .vif-title,
.vif-search .v-label .vif-title {
    font-size:12pt;
    margin-bottom:1px;
}
.vif-view .ripla-label-table .vif-title  {
    margin-top:5px;
}

.vif-view .v-label .vif-subtitle {
}

.vif-view .v-label .vif-note-emphasized,
.vif-view .v-label .vif-note {
    font-style:italic;
    margin-left:10px;
}

.vif-view .v-label .vif-note-emphasized {
    color:red;
    background-color:inherit;
}

.vif-view .vif-author,
.vif-view .vif-emphasized {
    margin-top:5px;
    font-style:italic;    
}

.vif-view .vif-caption {
    font-weight:bold;
    color:#FF9417;
    background-color:inherit;
}

.vif-view .vif-view-table {
     margin-top:8px;    
}

.vif-view .ripla-buttons {
    margin-top:8px;
}

.vif-bibliography .v-button {
    margin-right:15px;
}
.vif-bibliography .v-label-undef-w,
.ripla-lookup .v-label-undef-w {
    white-space:normal;
}

.vif-view .v-table-header-wrap {
    height:25px;    
}
.vif-view .v-table-caption-container {
    padding-top:3px;
}

.vif-view span.spaced,
.ripla-lookup span.spaced {
    margin-right:4px;
}

.ripla-lookup .v-window-header {
    color:#FF9417;
    background-color:inherit;
}

.ripla-lookup div.ripla-label-table .ripla-label {
    font-style:italic;
    vertical-align:top;
    margin-right:7px;
}

.ripla-lookup div.ripla-label-table .ripla-label,
.ripla-lookup div.ripla-label-table .ripla-value-emphasized {
    white-space:nowrap;
}

.ripla-lookup div.vif-search div.ripla-label-table .ripla-label {
    font-style:normal;
}

.vif-view div.ripla-label-table .vif-input,
.vif-view div.ripla-label-table .ripla-input,
.vif-view div.ripla-label-table .ripla-required-field,
.vif-view div.ripla-label-table .ripla-label,
.vif-view div.ripla-label-table .ripla-value-emphasized,
.vif-search div.ripla-label-table .vif-input,
.vif-search div.ripla-label-table .ripla-input,
.vif-search div.ripla-label-table .ripla-label,
.vif-search div.ripla-label-table .ripla-value-emphasized,
.ripla-lookup div.ripla-label-table .ripla-label,
.ripla-lookup div.ripla-label-table .ripla-input,
.ripla-lookup div.ripla-label-table .ripla-required-field,
.ripla-lookup div.ripla-label-table .ripla-value, 
.ripla-lookup div.ripla-label-table .vif-value, 
.ripla-lookup div.ripla-label-table .ripla-value-emphasized {
    margin-top:3px;
}

.ripla-lookup div.ripla-label-table .ripla-input,
.ripla-lookup div.ripla-label-table .ripla-required-field,
.ripla-lookup div.ripla-label-table .vif-value, 
.vif-view div.ripla-label-table .ripla-value,
.vif-view div.ripla-label-table .ripla-input, 
.vif-view div.ripla-label-table .ripla-required-field, 
.vif-view div.ripla-label-table .vif-input, 
.vif-search div.ripla-label-table .ripla-value,
.vif-search div.ripla-label-table .ripla-input,
.vif-search div.ripla-label-table .ripla-required-field, 
.vif-search div.ripla-label-table .vif-input {
    margin-left:5px;    
    margin-right:5px;    
}

.vif-view .ripla-form div.ripla-label-table .vif-value-emphasized {
	margin-left:5px;
}

.ripla-lookup .ripla-form .v-slot-ripla-required-field .v-caption-no-indicator,
.vif-view .ripla-form .v-slot-ripla-required-field .v-caption-no-indicator {
	display: none;
}

.vif-view div.ripla-label-table .ripla-value-emphasized,
.ripla-lookup div.ripla-label-table .ripla-value-emphasized  {
    font-weight:bold;
}

.vif-contributor {
    margin-top:4px;    
}

.ripla-lookup .vif-contributor {
    margin-top:12px;    
}

.vif-contribution-date {
    font-style:italic;
    margin-left:7px;
}


.ripla-split .ripla-contextmenu .ripla-contextmenu-item {
	margin-bottom:17px;
}

.ripla-contextmenu div.v-button {
    margin-bottom:9px;
}

.ripla-contextmenu .v-button-caption {
    white-space:normal;
    text-decoration:none;
}

.ripla-toolbar .link .v-button-wrap,
.vif-view .v-button-wrap,
.ripla-lookup .v-button-wrap,
.ripla-contextmenu .v-button-wrap {
    box-shadow:0 0 transparent;
}

.vif-warning {
    color:red;
    background-color:inherit;
}

.vif-editor .gwt-RichTextToolbar-bottom {
    display:none;
}

.vif-editor div[title="Insert Horizontal Rule"],
.vif-editor div[title="Insert Image"] {
    max-width:0;
    display:none;
}

.vif-upload .v-ddwrapper .v-button {
    padding-top:0;
}
.vif-upload .v-button {
    padding-top:5px;
}

.vif-upload .v-textfield {
    background-image: inherit;
    border-radius: 10px;
    border: 4px dashed #8AC007;
}
.vif-upload .v-textfield:hover {
    color: black;
    border: solid #8AC007;
    background-color: #D7E4D9;
}

.vif-upload .v-textfield .vif-drop-hint {
    padding-top: 5px;
    padding-left: 15px;
}

.vif-upload .vif-uploaded {
	vertical-align: top;
	padding-top: 5px;
}

.vif-view div.spacer,
.vif-search div.spacer,
.vif-table div.spacer,
.ripla-lookup div.spacer {
    margin-top:15px;
}

.vif-permission-table .v-table-caption-container {
    padding:0 2px 0 0;    
}
.vif-permission-table .vif-colheader {
    height:36px;
    display: table-cell;
    vertical-align:middle;
}

.ripla-help {
    padding-left:10px;
}

.vif-ratings .v-gridlayout-margin > div > div > div {
    padding:4px;
}

.vif-view-member div.ripla-label-table div.ripla-value {
    margin-left:8px;
    margin-top:3px;
    font-style:italic;
}

.vif-view div.ripla-label-table .vif-send-mail {
    margin-left:8px;
    margin-bottom:5px;
}

.vif-view .vif-check {
    color:#FF9417;
    background-color:inherit;
}

.vif-view .vif-check-label{
    margin-left:22px;
    margin-bottom:7px;
}

.vif-view .vif-remark {
    padding-bottom:7px;    
}

.ripla-lookup .ripla-lookup-close {
    position:absolute;
    bottom:25px;
    right:25px;
}

.vif-form .v-formlayout-error-indicator {
    width:0;
}

.vif-form .v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-captioncell, 
.vif-form .v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-contentcell {
    padding-top:0;
    padding-bottom:0;
}

.vif-ratings .v-captiontext {
    font-weight:bold;
    padding-top:7px;
} 

.vif-view .vif-colhead {
    font-weight:bold;
}

.vif-view .vif-center {
    text-align:center;
}

.vif-view .vif-padding-left {
    padding-left: 15px;
}

.vif-footer {
	padding: 2px 0 5px 10px;
}