<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" modified="modified" immediate="true" name="org.hip.vif.app.admin.config">
   <implementation class="org.hip.vif.app.admin.scr.VifConfig"/>
   <reference cardinality="1..n" interface="org.osgi.service.prefs.PreferencesService" bind="setPreferences" unbind="unsetPreferences" name="preferences" policy="dynamic"/>
</scr:component>
